
<header>
    <!-- <div [className]="'container'">
      <div [className]="'header-data'"> -->
        <div class="container">
          <div class="header-data">
        <div class="logo">
          <a href="index.html" title=""><img src="assets/images/logo.png" alt=""></a>
        </div>
        <!-- <div class="menu">{{movies.actor}}</div> -->
        <app-search-box></app-search-box>
      <app-header-menu [menuList] = headermenu></app-header-menu>
      <app-header-login></app-header-login>
</div>
</div>

</header>
<!-- <button (click) = 'test()'>Click me</button>
 -->