<div class="suggestion-usd">
    <img src="assets/images/s1.png" alt="">
    <div class="sgt-text">
      <h4>Jessica William</h4>
      <span>Graphic Designer</span>
    </div>
    <span><i class="la la-plus"></i></span>
  </div>
  <div class="suggestion-usd">
      <img src="assets/images/s1.png" alt="">
      <div class="sgt-text">
        <h4>Jessica William</h4>
        <span>Graphic Designer</span>
      </div>
      <span><i class="la la-plus"></i></span>
      <div class="view-more">
          <a href="#" title="">View More</a>
        </div>
    </div>